<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" required #nome="ngModel" class="form-control" id="nome" placeholder="Nome" name="nome"
      [(ngModel)]="usuario.nome">
      <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
        O nome é obrigatório.
      </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" required class="form-control" id="email" placeholder="name@example.com" name="email"
      [(ngModel)]="usuario.email" email>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
